.detailWrapper{
  display: flex;
  flex-direction: column;
  padding: 35px;
  border-top: 10px solid #F1E9DF;
  background-color: white;
}

.collection{
  background-color: rgb(239, 140, 43);
  color: white;
  padding: 10px 45px 10px 45px;
  border-radius: 40px;
  font-size: 25px;
  white-space: nowrap;
  margin-left: 45px;
}

.collection2{
  background-color: #F0F0F0;
  color: white;
  padding: 10px 45px 10px 45px;
  border-radius: 40px;
  font-size: 25px;
  white-space: nowrap;
  margin-left: 45px;
}

.titleWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.titleWrapper1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.competitionTitleBanner{
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: 700;
  margin-top: 25px;
  .time{
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
  }
}

.titleBanner{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 28px;
  .img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-right: 20px;
  }
}

.contentWrapper{
  margin-top: 20px;
  font-size: 27px;
  line-height: 45px;

}

.imgWrapper{
  width: 100%;
  margin-top: 25px;
  .img{
    height: 350px;
    width: 100%;
  }
}
