.passageWrapper{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: rgb(255, 253, 250);
  padding: 30px 30px 90px 30px;
  margin-bottom: 120px;
}

.imgWrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 30px;
  border-bottom: 1px solid #8D8D8D;
  .imgBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    box-sizing: border-box;
    border: 1px solid #8D8D8D;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 2px;
    .img{
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
  }
}

.passage{
  font-size: 32px;
  color: #878787;
  padding: 25px 5px 15px 5px;
  border-bottom: 1px solid #8D8D8D;
}

.labelWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0 10px 0;
  border-bottom: 1px solid #8D8D8D;
  .labelBlock{
    display: flex;
    flex-direction: column;
    .title{
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #6E6E6E;
      font-size: 28px;
      margin-bottom: 10px;
      .img{
        height: 40px;
        width: 35px;
        margin-right: 15px;
      }
    }
  }
  .img1{
    height: 60px;
    width: 40px;
  }
}

.label{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 22px;
  width: 600px;
  .labelItem{
    white-space: nowrap;
    background-color: rgba(213, 213, 213, 1);
    padding: 5px 45px 5px 45px;
    border-radius: 30px;
    margin-right: 15px;
  }
}
