Page{
  background: rgb(255, 253, 250);
}

.nameInput{
  height: 50%;
  font-size: 35px;
  color: #999999;
  margin: 25px 35px 25px 35px;
  Input{
    padding: 20px 10px 10px 10px;
    border-bottom: 1px solid #898989;
  }
}
